<<<<<<< HEAD

=======
>>>>>>> 0b562bb6d63287f9ef67f9b806564a7b2602bf8e
// Body
$body-bg: #f8fafc;

// Typography
<<<<<<< HEAD
$font-family-sans-serif: "Nunito", sans-serif;
=======
$font-family-sans-serif: 'Nunito', sans-serif;
>>>>>>> 0b562bb6d63287f9ef67f9b806564a7b2602bf8e
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
<<<<<<< HEAD
$pink: #f66D9b;
=======
$pink: #f66d9b;
>>>>>>> 0b562bb6d63287f9ef67f9b806564a7b2602bf8e
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
