@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Raleway);

body{ 
	background:#FFF; }
h1, h2, h3, h4, h5, h6{
	 margin:0; padding:0; 
	 font-family: 'Raleway', sans-serif;  
	 color:#0b0b0b;
	 margin-bottom:20px;
	 line-height: 42px;
	 font-weight:900;}
h2{
	font-size: 36px;
	color:#0b0b0b; 
	margin-bottom:20px; 
	text-transform:uppercase; }
.wpm_bold{
	font-weight:900;
	font-size: 45px;}	
p{
	 margin:0; 
	 padding:0; 
	 font-size: 15px; 
	 line-height:24px; 
	 color:#666;}
.row{ 	
	max-width:1170px; 	
	margin:auto;}
img{
	 width:100%; 
	 max-width:100%; 
	 height:auto; 
	 display:block;}
a:hover{
	 text-decoration:none; }
section .btn{
	 background:#0B0708; 
	 color:#FFF;
	 border:none;
	 padding:10px 20px;
	 border-radius: 0px;}
section .btn:hover{
	 background:#333; 
	 color:#FFF !important;}
.wpm_word_color{
	color:#2BCDC1;}
	
	.top_header{
	display:none;	
}

.position-relative {
  position: relative; }




::-webkit-input-placeholder { color:#CCC !important; }
::-moz-placeholder { color:#CCC !important; }
:-ms-input-placeholder { color:#CCC !important; } 
:-moz-placeholder { color:#CCC !important; }





/************header start************/


.wpm_header{
	 width:100%; 
	 background:#0B0708;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	 background:rgba(0,0,0,.3); 
	 color:#FFF;}
.navbar-default .navbar-nav>.active>a{
	 background-color:#0B0708 !important; 
	 color:#2BCDC1 !important;
	 border:1px solid #2BCDC1;	 }
.navbar-default .navbar-nav>.active>a:hover{
	 color:#CCC;}
.navbar-right .dropdown-menu{ 
	 right:auto;} 
.navbar{
	min-height:0px;}	 
.navbar-nav > li{
	 margin-left:1px; 
	 margin-right:1px;}
.navbar-default .navbar-nav>li>a{ 
	text-align:center;
	padding: 5px 12px;
    margin: 0 1px;
    line-height: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
	border:1px solid #0B0708;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}
.navbar-default .navbar-nav>li>a:hover{ 
	color:#2BCDC1; 
	border:1px solid #2BCDC1;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}
.navbar-nav>li>.dropdown-menu{   
	  margin-top: 20px;
	  padding: 0px 0px;
	  background-color: transparent;
	  -webkit-background-clip: padding-box;
	  background-clip: padding-box;
	  border:none;
	  border-radius:0px;
	  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.0);
	  box-shadow: 0 6px 12px rgba(0,0,0,.0); }	
.navbar-nav>li> .dropdown-menu li{ 
	border-bottom:1px solid #FFF; }
.navbar-nav>li> .dropdown-menu>li>a{ 
	padding:10px 10px; 
	color:#FFF; 
	background:#0B0708;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;} 
.navbar-nav>li> .dropdown-menu>li>a:hover{
	color:#FFF;
	background:#2BCDC1;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}
.wpm_logo{
	width: auto;  
	margin:5px 0px 10px;}
.navbar-brand{
	padding:0px;} 
.wpm_navber{ 
	background:none; 
	border:none; 
	margin-top:20px;}
.nav .open>a, .nav .open>a:focus {
    background-color: #eee;
    border-color:none important;}



.wpm_popup_area{}
.wpm_popup_area a i{ 
	font-size:25px;
	color:#2BCDC1; 
	margin-top:25px; 
	font-weight:normal;}
.wpm_popup_area a i:hover{ 
	color:#2BCDC1;}
.wpm_popup_area .btn{
	background:#2BCDC1; 
	color:#FFF; 
	border:none;}
.wpm_popup_area .btn:hover{
	background:#27b3a9; }
.wpm_popup_area a:focus{ 
	outline:none;} 
.btn:focus{
	 outline:none;}



/************header end************/





/************index content start************/

.wpm_slider_area{ 
	width:100%;}
.glyphicon-chevron-left:before{ 
	font-family:FontAwesome; 
	content:'\f0a8';}
.glyphicon-chevron-right:before{
	font-family:FontAwesome; 
	content:'\f0a9';}
.carousel-control .glyphicon-chevron-right{ 
	font-size:40px; 
	color:#FFF;}
.carousel-control .glyphicon-chevron-left{ 
	font-size:40px ; 
	color:#FFF;}
.wpm_slider_area h1{ 
	font-size:40px; 
	color:#FFF; 
	margin-bottom:50px;
	 background:rgba(0, 0, 0, 0.5); 
	 text-transform:uppercase; 
	 padding:10px 20px; 
	 display:inline-block; 
	 -webkit-border-radius:5px;
	  -moz-border-radius: 5px; 
	  border-radius: 5px; }
.carousel-indicators li{ 
	background:#282A2E;}
.carousel-indicators .active{ 
	background:#2BCDC1;}





.wpm_welcome_area{
	width:100%;
	padding:100px 0px 50px;
	background:#2BCDC1;
	text-align:center;}
.wpm_welcome_area h1{
	margin-top:0px;
	color:#FFF;
	margin-bottom:50px;}	
.wpm_welcome_area p{
	color:#FFF;
	margin-bottom:50px;}
.wpm_angle{
	width:8px;
	height:40px;
	margin:0 auto;
	margin-bottom:50px;
	background:#FFF;
	-ms-transform: skew(-35deg,0deg); /* IE 9 */
    -webkit-transform: skew(-35deg,0deg); /* Safari */
    transform: skew(-35deg,0deg);}		





.wpm_feature_area{
	width:100%;
	background:url(images/bg.jpg) center center fixed;
	background-size:cover;
	text-align:center;}
.wpm_feature_area .wpm_opacity{
	background:rgba(0, 0, 0, 0.8);
	padding:100px 0px 70px;}	
.wpm_feature_area .col-sm-4{
	margin-bottom:30px;}
.wpm_feature_area i{
	font-size:120px;
	margin-bottom:20px;}	
.wpm_feature_area h3{
	color:#FFF;}
.wpm_feature_area p{
	color:#FFF;}
.color1{
	color:#32A8DB;}
.color2{
	color:#F36630;}
.color3{
	color:#2ACCC0;}		
	
	



.wpm_about_area{
	width:100%;
	padding:100px 0px 0px;
	background:#2BCDC1;}	
.wpm_about_area h2{
	color:#FFF;}	
.wpm_about_area p{
	color:#FFF;}
.wpm_about_area h3{
	color:#FFF;
	margin-bottom:10px;
	text-transform:uppercase;}	
.wpm_about_area .list-group{
	margin-top:50px;}	
.wpm_about_area .list-group-item{
	background:none;
	border:none;
	padding:0px;
	position:relative;
	padding-left:40px;
	margin-bottom:50px;}
.wpm_about_area .list-group-item i{
	position:absolute;
	color:#FFF;
	font-size:25px;
	left:0px;
	top:10px;}
.wpm_about_area .list-group-item p{
	color:#DEDADA;}			
			
			
	
	
	
.wpm_member_area{
	width:100%;
	padding:100px 0px 70px;
	text-align:center;}	
.wpm_member_area .col-sm-4{
	margin-bottom:30px;}	
.wpm_member_area .col-sm-8 p{
	margin-bottom:70px;}
.wpm_member_image{
	position:relative;}	
.wpm_name{
	background:#2BCDC1;
	padding:10px;
	position:absolute;
	left:0px;
	bottom:0px;
	text-align:center;
	width:100%;}	
.wpm_name h4{
	color:#FFF;
	margin-bottom:0px;}
.wpm_name span{
	font-size:12px;
	color: #ededed;}
	
	
	
	

.wpm_portfolio { 
	width:100%; 
	padding:100px 0px 100px; 
	text-align:center;
	background:#F3F3F3;}
.wpm_portfolio .col-sm-3{ 
	padding-left:0px; 
	padding-right:0px;}
.wpm_portfolio .col-sm-8 p{
	margin-bottom:70px;}	


/*****hover style start*****/
.view {
   margin: 0px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   float: none;
}
.view .mask,.view .content {
   width:100%;
   height:100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #FFF;
   color: #005556;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
	background:#ccc;
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}


.view-tenth img {
   -webkit-transform: scaleY(1);
   -moz-transform: scaleY(1);
   -o-transform: scaleY(1);
   -ms-transform: scaleY(1);
   transform: scaleY(1);
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
}
.view-tenth .mask {
   background-color:rgba(0, 0, 0, 0.23);
   -webkit-transition: all 1s linear;
   -moz-transition: all 1s linear;
   -o-transition: all 1s linear;
   -ms-transition: all 1s linear;
   transition: all 1s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth h2 {
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background: transparent;
   margin: 20px 40px 0px 40px;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   color: #FFF;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth p {
   color: #FFF;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -o-transform: scale(0);
   -ms-transform: scale(0);
   transform: scale(0);
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
}
.view-tenth:hover img {
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
.view-tenth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
				


/*****hover style end*****/
	
	
	


.wpm_testimonial_area{ 
	width:100%; 
	text-align:center;
	background:url(images/bg2.jpg) center center fixed;
	background-size:cover;}
.wpm_testimonial_area .wpm_opacity{
	background:rgba(0, 0, 0, 0.8);
	padding:100px 0px 150px;}
.wpm_testimonial_area h2, h5{
	color:#FFF;}		
.wpm_testimonial_slider img{ 
	width:90px; 
	height:90px !important; 
	border-radius:50%; 
	margin:0 auto; 
	border:2px solid #696872;    
	margin-bottom: 20px;}
.wpm_testimonial_slider p{ 
	font-size: 14px;  
	color: #FFF;  
	line-height: 25px;  
	margin: 0 0 10px; }
.wpm_testimonial_area .carousel-indicators{ 
	background:none; 
	bottom:-50px; 
	width:64px; 
	margin:0 auto;   
	left: 46%;}
.wpm_testimonial_area .carousel-indicators li{ 
	background:#666;}	
.wpm_testimonial_area .carousel-indicators .active{
	background:#2BCDC1;	}
	
	
	


.wpm_client_area{
	width:100%;
	padding:100px 0px 70px;
	background:#2BCDC1;}	
.wpm_client_area .col-sm-3{
	margin-bottom:30px;}	
.wpm_client_area img{
	border: 1px solid rgba(255, 255, 255, 0.3);}	
				
		

/************index content end************/	




/********** about start************/

.wpm_title_ber{ 
	width:100%; 
	background:url(images/bg2.jpg) center center fixed;
	background-size:cover; 
	text-align:center; 
	color:#FFF;}
.wpm_title_ber .wpm_opacity{
	background:rgba(0, 0, 0, 0.5);
	padding:50px 0px;}		
.wpm_title_ber h1{
	color:#FFF;
	text-transform:uppercase;
	font-weight:900;}	
.wpm_title_ber a{ 
	color:#fff; }
.wpm_title_ber a:hover{ 
	color:#2BCDC1;}
.wpm_title_ber img{ 
	width:120px; 
	height:90px;}




.wpm_creative_area{
	width:100%;
	padding:100px 0px 70px;}
.wpm_creative_area .col-sm-6{
	margin-bottom:30px;}
.wpm_creative_area h3{
	text-transform:uppercase;}
.wpm_creative_area p{
	margin-bottom:30px;}	
.wpm_creative_area .list-group-item{
	background:none;
	border-left:none;
	border-right:none;
	border-radius:0px;
	padding:15px 0px;}	
.wpm_creative_area .list-group-item i{
	color:#2BCDC1;
	margin-right:10px;}			
	

/********** about end************/





/**************service start*********************/

.wpm_service_area{ 
	width:100%; 
	padding:100px 0px 70px;}
.wpm_service_area .col-sm-8{ 
	margin-bottom:30px;}
.wpm_service_area .col-sm-4{
	margin-top:30px;}
.wpm_service_area  h3{
	border-bottom:1px solid #2BCDC1; 
	padding-bottom:5px; 
	color:#585858; 
	display:inline-block;}
.wpm_service_area .col-sm-4 p{ 
	margin-bottom:20px;}
.wpm_service_area .panel-default>.panel-heading{ 
	color:#FFF; 
	background:#2BCDC1; 
	border-color:#2BCDC1; 
	font-size:16px}
.wpm_service_area .panel {
	border-color:#2BCDC1;}



.wpm_more_service_area{ 
	width:100%; 
	padding:0px 0px 30px;}
.wpm_more_service_area .col-sm-7{ 
	margin-bottom:30px;}
.wpm_more_service_area .col-sm-5{ 
	margin-bottom:50px;}
.wpm_more_service_area  h3{
	border-bottom:1px solid #2BCDC1; 
	padding-bottom:5px; 
	color:#585858; 
	display:inline-block;}
.wpm_more_service_area p{ 
	margin-bottom:10px;}
.wpm_more_service_area .list-group-item{ 
	background:none; 
	color:#000; 
	padding:0px; 
	margin-top:15px; 
	margin-bottom:15px; 
	border:none;}
.wpm_more_service_area .list-group-item:hover{ 
	background:none; 
	color:#2BCDC1;}
.wpm_more_service_area .list-group-item i{ 
	font-size:18px;
	color:#2BCDC1; 
	margin-right:10px;}


/**************service end*********************/



/**************portfolio start*********************/

.bottom_btn{
	margin-top:50px;}

/**************portfolio end*********************/




/**************blog start*********************/

.wpm_blog_area{ 
	width:100%; 
	padding:100px 0px 70px;}
.wpm_blog_area .col-sm-8{ 
	margin-bottom:30px;}
.wpm_blog_area .col-sm-4{ 
	margin-bottom:30px}
.wpm_blog_area .col-sm-8 img{ 
	position:relative; 
	border:1px solid #2BCDC1;}
.wpm_date{ 
	position:absolute; 
	top:0px; 
	right:15px; 
	background:#2BCDC1; 
	text-align:center; 
	padding:10px;}
.wpm_date h1{ 
	color:#FFF;  
	margin-bottom:10px; 
	font-size:25px;}
.wpm_date span{ 
	background:#FFF; 
	padding:5px;}
.wpm_blog_area h3{
	line-height:30px;}
.wpm_blog_area h3 a{ 
	color:#5D5D5D;}
.wpm_blog_area h3 a:hover{
	color:#2BCDC1;}
.wpm_comment{ 
	width:100%; 
	background:#EDEDED; padding:10px;}
.wpm_comment i{ 
	margin-right:10px;}
.wpm_comment span{ 
	margin-left:20px;}
.wpm_comment span a{ 
	color:#555;}
.wpm_comment span a:hover{ 
	color:#2BCDC1;}
.blog_para{ 
	margin-top:20px; 
	margin-bottom:20px;}
.wpm_btn { 
	border: none;
	background: #2BCDC1; 
	color: #FFF; 
	-moz-border-radius: none; 
	-webkit-border-radius: none; 
	border-radius: none;}
.wpm_btn:hover{
	background:#c10b1b; color:#FFF;}


/**************blog end*********************/



/**************blogarticle start*********************/

.wpm_blogarticle{ 
	width:100%; 
	padding:100px 0px 100px;}
.wpm_blogarticle img{ 
	margin-bottom:20px;}
.wpm_blogarticle .blog_para{ 
	margin-bottom:30px;}
.wpm_blogarticle .wpm_comment{
	border:1px solid #CCC;
	padding:20px;}
.wpm_comment img{
	width:100px;
	height:100px;
	float:left;
	margin-bottom:5px !important;
	margin-right:10px;}	


/**************blogarticle end*********************/



/**************contact start*********************/

.wpm_contact_area{ 
	width:100%; 
	padding:100px 0px 100px;}
.wpm_contact_area h2{
	margin-bottom:50px;}
.wpm_contact_area .contact_text{ 
	margin-bottom:30px;}
.wpm_contact_area .contact_text i{ 
	width:50px; 
	height:50px; 
	text-align:center; 
	color:#2BCDC1;
	font-size:25px; 
	border-right:1px solid #000; 
	padding-top:10px; 
	float:left; 
	margin-right:20px;}
.wpm_contact_area .form-control{ 
	margin-bottom:20px; 
	background:none;}


/**************contact end*********************/




/************footer start************/


footer{ 
	width:100%; 
	padding:80px 0px 50px; 
	background:#151515;  
	border-bottom:1px solid #2BCDC1;}
footer .col-sm-3{ 
	margin-bottom:30px;}
footer h3{ 
	margin-bottom:30px; 
	color:#FFF; 
	border-bottom:1px solid #FFF; 
	padding-bottom:5px;}
footer p{ 
	color:#FFF;}
footer .input-group{ 
	margin-top:20px;}
footer .form-control{ 
	border:none; 
	border-radius:0px; }
footer .input-group-addon{ 
	border:none; 
	border-radius:0px; 
	background:#2BCDC1; 
	color:#FFF}
footer .list-group { 
	margin-bottom:0px;}
footer .list-group-item{ 
	background:none; 
	border-left:none; 
	border-right:none; 
	border-top:none;  }
footer .list-group-item:last-child{ 
	border-bottom:none;}
footer .list-group-item:first-child{ 
	border-top-left-radius: 0px; 
	border-top-right-radius: 0px;}
footer .list-group-item a{ 
	color:#ccc; 
	font-size:12px;}
footer .list-group-item a:hover{ 
	color:#2BCDC1;}
footer .list-group-item{ 
	position:relative;
	padding-left:35px; 
	font-size:12px;}
footer .list-group-item i{
	position:absolute; 
	left:0; 
	top:16px; 
	color:#2BCDC1; 
	font-size:20px;}
footer .list-group-item{ 
	color:#FFF;}
.wpm_tag a{ 
	color:#ccc; 
	border:1px solid #ccc; 
	padding:5px 10px; 
	float:left; 
	margin-right:10px; 
	margin-bottom:10px;}
.wpm_tag a:hover{ 
	color:#FFF; 
	background:#2BCDC1; }
footer img{ 
	width:110px; 
	height:74px; 
	float:left;
	margin-right:10px; 
	margin-bottom:10px;}



.wpm_frooter_ending{ 
	width:100%; 
	background-color:#151515; 
	padding:15px 0px; } 
.wpm_frooter_ending p{ 
	font-size: 14px; 
	padding-top:5px; 
	color:#999;}
.wpm_frooter_list{
	margin-left:187px;}
.wpm_frooter_ending a{
	color:#FFF; 
	margin-left:10px;}
.wpm_frooter_ending a:hover{ 
	color:#2BCDC1;}



/************footer end************/